.Spring{
    background-color: #E89832;
}

.Summer{
    background-color: #FF5538;
}

.Fall{
    background-color: #FFE449;
}

.Winter{
    background-color: #AAE864;
}

.header{
    margin: 0px;
    text-align: center;
}

.season{
    margin: 0px;
    text-align: center;
}

.money{
    display: flex;
    justify-content: center;
}

.dollarSign{
    padding: 0px 5px;
}